<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>上傳點名系統報表進行統計</h2>
    {% if error %}
    <p style="color: red; text-align: center;">{{ error }}</p>
    {% endif %}
    <form action="/upload" method="post" enctype="multipart/form-data" class="upload-form">
        <input type="file" name="file" accept=".xls,.xlsx" class="upload-input">
        <input type="button" value="以週為單位進行統計" class="button" onclick="this.form.submit();">
    </form>
    <footer style="text-align: center; margin-top: 20px;">
        <p>版本: {{ commit_id }}</p>
    </footer>
<script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'92e9ebf4b917bf84',t:'MTc0NDM2ODYxMi4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script></body>
</html>
